@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'bootstrap/scss/bootstrap';

$primary: #edecff;
$primary-2: #7d73fc;
$primary-4: #edecff;
$secondary: #acb7c3;
$main-bg: #191765;
$paragraph: #c8c8d4;
