@import '../../styles/common.scss';

.navSocial {
  display: none;
}

.navSocialItem {
  margin-left: 1em;
  font-size: 15px;
}

@media (min-width: 720px) {
  .navSocial {
    display: flex;
    align-items: center;
  }
}